body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div {
  position: relative;
  align-items: center;
  align-content: center;
  margin-top: 10%;
}

p {
  font-family: cursive;
  font-size: 50px;
  color: blue;
  border-radius: 20%;
  border-style: groove;
  border: 1px solid gray;
  left: 35%;
  top: 20%;
  background-color: gray;
  position:relative;
  width:fit-content;
  align-self: center;
  }
button {
  background-color: orange;
  left: 35%;
  position:relative;
  top: auto;
  align-self: center;
}